#header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

body {
  max-height: 100vh;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  font-family: VIEAvantGardeRegular;
  background-color: #f4f5ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
  .carousel-item img {
    height: 500px;
    width: 80% !important;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
  .carousel-item img {
    height: 500px;
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 200px;
    width: 80% !important;
  }
}
.font-jura {
  font-family: "Jura", sans-serif !important;
}
.font-bold {
  font-weight: bold;
}
.bold {
  font-family: VIEAvantGardeBold;
}
.home .navbar {
  background: #021654;
}
.home .navbar li a {
  color: white;
}
.rec .navbar {
  background: transparent;
}
.rec .navbar li a {
  color: white;
}
.navbar-collapse a:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
.navbar-brand {
  font-size: 16px;
}
.bg-logo {
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  background-color: white;
  padding: 1rem 8rem 1rem 2rem !important;
}
section .content {
  padding-top: 200px;
}
.card-slider {
  background: #ffffff;
  opacity: 0.95;
  border-radius: 30px;
  border: 0px;
}
.dark-blue {
  color: #031558;
}
.light-blue {
  color: #29abe2;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 20px;
  background-color: #c4c4c4;
}
.carousel-indicators li.active {
  background-color: #021654;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.content-slide {
  background: #021654;
  border-radius: 0px 0px 300px 0px;
  margin-top: -3rem;
}
.carousel-indicators {
  bottom: -3.5rem;
}
.carousel-inner {
  bottom: -3rem;
}

.fixed-header {
  background-color: #021654 !important;
  opacity: 0.5;
}
